/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
}

body {
  font-family: var(--font-open-sans);
  @apply text-gray-800;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins);
}

html {
  scroll-behavior: smooth;
}

/* Customize pagination bullets */
.swiper-pagination-bullet {
  background: #28a745;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: #218838;
  opacity: 1;
}